*{
    padding: 0%;
    margin: 0%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: #00feba;
}

.container{
    max-width: 470px;
    width: 300px;
    background: linear-gradient(135deg, #00feba,#5b548a);
    color:#fff;
    border: 1px solid black;
}

.container h2{
    padding: 1rem;
}

.inp input{
    padding: 0.56rem;
    font-size: 1rem;
    width: 94%;
    border: none;
    outline:none;    
}

.main-inner-container{
    width: 300px;
    padding-top: 0.55rem;
    padding-bottom: 0.55rem;
    text-align: center;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0.55rem;
}
.main button{
    border-radius: 50%;
    font-size: 1.6rem;
    width: 30px;
    border-radius: 1px solid grey;
    
}
/* .btn{
    margin-left: 110px;
} */
