@media screen and (max-width: 320px) {
    *{
        font-family: Poppins,sans-serif;
    }
    .navbar_1{
        height: 40px;
        width: 100%;
        position: fixed;
        z-index: 1030;
        right: 0%;
        left: 0%;
    }
    .abgyan_logo{
        height: 28px;
        width: 90px;
        border-right: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 80px;
    }
    .abgyan_image{
        height: 24px;
        width: 78px;
    }
    .search_bar{
        display: none;
    }
    .search_icon{
        display: none;
    }
    .croma_logo{
        height: 28px;
        width: 80px;
        border-left: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .croma_image{
        height: 24px;
        width: 80px;
        padding-left: -20px;
    }
    .countries_name{
        display: none;
    }
    .univercity_name{
        display: none;
    }
    .navbar_2{
        height: 10px;
        width: 100%;
        position: fixed;
        z-index: 6;
        margin-top: 40px;
    }
    .main_nav-2{
        display: none;
    }
    .fixed_navbar{
        height: 50px;
        width: 100%;
    }
    .navbar_3{
        height: 90px;
    }
    .nav_3_botton_1{
        display: none;
    }
    .get_botton{
        display: none;
    }
    .nav_3_botton_2{
        display: none;
    }
    .try_botton{
        display: none;
    }
    .navbar_4{
        height: 330px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #f4f4f4;
    }
    .main_nav-4{
        height: 300px;
        width: 100%;
        display: block;
        margin-bottom: unset;
    }
    .box_1{
        height: 80px;
        width: 90%;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: unset;
    }
    .download{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 100%;
    }
    .download_icon{
        font-size: 1.4rem;
        padding-top: 15px;
    }
    .nav_4_download_heading{
        height: 50%;
        width: 100%;
    }
    .download_heading{
        font-size: 13px;
        color: #000;
        font-weight: 600;
    }
    .box_2{
        height: 80px;
        width: 90%;
        margin-left: 15px;
        margin-top: 20px;
        margin-bottom: unset;
    }
    .box_3{
        height: 80px;
        width: 90%;
        margin-left: 15px;
        margin-top: 20px;
        margin-bottom: unset;
    }
    .media_heading{
        font-size: 14px;
    }
    .media_icon{
        font-size: 1.6rem;
    }
    .navbar_5{
        height: 130px;
        width: 100%;
        display: flex;
    }
    .nav_5_headings{
        height: 115px;
        width: 98%;
        margin-top: -5px;
    }
    .destination_heading{
        font-size: 17px;
        height: 25px;
        margin-top: 0%;
    }
    .Education_heading{
        font-size: 13px;
        height: 25px;
        width: 100%;
    }
    .course_para{
        height: 45px;
        margin-left: 3px;
        margin-right: 4px;
        margin-top: 5px;
        font-size: 10px;
        word-spacing: 3px;
        text-align: justify;
    }
                         /* navbar_6 */
    .navbar_6{
        height: 1000px;
        width: 100%;
        display: block;
        margin-bottom: unset;
        background-color: #fff;
        margin-top: 0%;
    }
    .nav-6-box-1{
        margin-left: 10px;
        margin-top: 5px;
    }
    .nav-6-box-2{
        margin-left: 10px;
        margin-top: 15px;
    }
    .nav-6-box-3{
        margin-left: 10px;
        margin-top: 15px;
    }
    .view_country_botton{
        height: 40px; 
        width: 100%;
    }
    .country_botton{
        height: 40px;
        width: 150px;
        font-size: 13px;
    }
                         /* navbar_7 */
    .navbar_7{
        height: 1000px;
        width: 100%;
        background-color: #f4f4f4;
        margin-top: 10px;
    }
    .nav_7_headings{
        height: 100px;
        width: 100%;
        margin-left: 0%;
    }
    .visa_coaching_heading{
        padding-top: 10px;
        font-size: 16px;
    }
    .benifit_visa{
        font-size: 14px;
        width: 90%;
        line-height: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        margin-right: 10px;
    }
    .nav_7_boxes{ 
        height: 900px;
        width: 100%;

    }
    .nav_7_box_1{ 
        height: 200px;
        width:  200px;
        margin-left: 0%;
        margin-top: 10px;
    }
    .nav_7_box_2{ 
        height: 200px;
        width:  200px;
        margin-left: 0%;
        margin-top: 10px;
    }
    .nav_7_box_3{ 
        height: 200px;
        width:  200px;
        margin-left: 0%;
        margin-top: 10px;
    }
    .nav_7_box_4{ 
        height: 200px;
        width:  200px;
        margin-left: 0%;
        margin-top: 10px;
    }
    .nav_7_media_heading{
        font-size: 1.4rem;
    }
    .nav_7_media_paragraph{
        font-size: 12px;
    }
                         /* navbar_8 */
    .nav_8_headings{
        height: 120px;
        width: 100%;
        margin-left: 0%;
        margin-top: 0%;
    }
    .Process_heading{
        padding-top: 10px;
        font-size: 16px;
    }
    .trusted_heading{
        font-size: 14px;
        width: 90%;
        line-height: 17px;
        margin-top: 0%;
        margin-left: 15px;
        margin-right: 10px;
    }
    .expert_paragraph{
        height: 48px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0%;
        padding-top: 5px;
        font-size: 10px;
        word-spacing: 3px;
        text-align: justify;
    }
                         /* navbar_9 */
    .navbar_9{
        height: 180px;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav_9_design_image{
        width: 90%;
        height: 170px;
        margin-top: 18px;
        margin-left: 0%;
        margin-right: 0%;
        background-image: url("img/7-process-mb.jpg");
        background-size: 100% 100%;
        background-repeat: none;
    }
                         /* navbar_10 */
    .navbar_10{
        height: 80px;
        width: 100%;
        margin-top: 18px;
    }
    .nav_10_headings{
        height: 75px;
        width: 90%;
    }
    .static_heading{
        height: 28px;
        padding-top: 0%;
        font-size: 16px;
    }
    .nav_10_paragraph{
        height: 30px;
        margin-top: 0%;
        font-size: 11px;
        text-align: center;
    }
                         /* navbar_11 */
    .navbar_11{
        height: 100px;
    }
    .nav_11_headings{
        height: 80px;
    }
    .services_heading_1{
        height: 20px;
        margin-top: 0%;
        font-size: 16px;
    }
    .services_paragraph{
        height: 49px;
        padding-top: 5px;
        margin-top: 0%;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
    }
                              /* navbar_12 */
    .navbar_12{
        height: 600px;
        width: 100%;
        display:flex;
        justify-content:space-between;
        align-items: center;
        gap: 20px;
        background-color: #fff;
    }
    .nav_12_box1_link{
        height: 160px;
        width: 90%;
        margin-left: 10px;
    }
    .nav_12_box_1{
        height: 160px;
        width: 90%;
        margin-left: 20px;
    }
    .nav_12_headings{
        margin-top: 20px;
        margin-left: 10px;
    }
    .nav_12_heading_1{
        padding-top: 13px;
        font-size: 14px;
        margin-top: -21px;
    }
    .nav_12_paragraph_1{
        padding-top: 5px;
        font-size: 10px;
        line-height: 12px;
        margin-right: 8px;
        text-align: justify;
    }
    .nav_12_box2_link{
        height: 150px;
        width: 90%;
        margin-left: 10px;
    }
    .nav_12_box_2{
        height: 150px;
        width: 90%;
        margin-left: 20px;
    }
    .nav_12_headings{
        margin-top: 20px;
        margin-left: 10px;
    }
    .nav_12_heading_2{
        padding-top: 13px;
        font-size: 14px;
        margin-top: -21px;
    }
    .nav_12_paragraph_2{
        padding-top: 5px;
        font-size: 10px;
        line-height: 12px;
        margin-right: 8px;
        text-align: justify;
    }
    .nav_12_box3_link{
        height: 150px;
        width: 90%;
        margin-left: 10px;
    }
    .nav_12_box_3{
        height: 150px;
        width: 90%;
        margin-left: 20px;
    }
    .nav_12_headings{
        margin-top: 20px;
        margin-left: 10px;
    }
    .nav_12_heading_3{
        padding-top: 13px;
        font-size: 14px;
        margin-top: -21px;
    }
    .nav_12_paragraph_3{
        padding-top: 5px;
        font-size: 10px;
        line-height: 12px;
        margin-right: 8px;
        text-align: justify;
    }
    .nav_12_box4_link{
        height: 150px;
        width: 90%;
        margin-left: 10px;
    }
    .nav_12_box_4{
        height: 150px;
        width: 90%;
        margin-left: 20px;
    }
    .nav_12_headings{
        margin-top: 20px;
        margin-left: 10px;
    }
    .nav_12_heading_4{
        padding-top: 13px;
        font-size: 14px;
        margin-top: -21px;
    }
    .nav_12_paragraph_4{
        padding-top: 5px;
        font-size: 10px;
        line-height: 12px;
        margin-right: 8px;
        text-align: justify;
    }
    .navbar_13{
        display: none;
    }
    /* navbar_14 */
    .navbar_14{
        height: 60px;
        width: 320px;
        margin-top: 105px;
    }
    .nav_14_button_1{
        margin-top: 5px;
        height: 35px;
        width: 200px;
        font-size: 14px;
    }
        /* navbar_15 */
    .navbar_15{
    margin-top: 10px;
    height: 120px;
    width: 100%;
    }
    .nav_15_headings{
        margin-top: 5px;
        height: 100px;
        width: 900px;
    }
    .Visas_heading_1{
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }
    .Visas_paragraph{
        margin-top: 15px;
        font-size: 10px;
        line-height: 12px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: justify;
    }
    /* navbar-16 */
    .navbar_16{
        height: 360px;
        width: 100%;
        background-color: #e0e0e0;
        display: block;
    }
    .nav_16_box_1{
        height: 350px;
        width: 90%;
        margin-left: 15px;
        background-image: url("img/nav_16_img1.webp");
        background-size: 100% 100%;
    }
    .nav_16_box_2{
        display: none;
    }
    .nav_16_box_3{
        display: none;
    }
    /* navbar-17 */
    .navbar_17{
        height: 60px;
        width: 100%;
    }
    /* navbar-18 */
    .navbar_18{
        margin-top: 5px;
        height: 58px;
        width: 100%;
    }
    .nav_18_headings{
        height: 48px;
        width: 90%;
    }
    .nav_18_heading_1{
        font-size: 14px;
        line-height: 20px;

        
    }
    .nav_18_paragraph{
        margin-top: 5px;
        font-size: 11px;
        font-weight: 400;
        line-height: 12px;
        
    }
     /* navbar-19 */
    .navbar_19{
        height: 606px;
        width: 100%;
        display: block;
    }
    .nav_19_testi_1{
        margin-top: 5px;
        height: 305px;
        width: 95%;
        margin-left: 2.5%;
    }
    .name_tag{
        font-size: 15px;
        line-height: 20px;
    }
    .cource_name{
        font-size: 12px;
        line-height: 20px;
        margin-top: 8px;
    }
    .about_cource{
        font-size: 12px;
        word-spacing: 0px;
        margin-top: 8px;
        line-height: 20px;
    }
    .read_link{
        text-decoration: none;
    }
    .nav_19_testi_2{
        margin-top: 20px;
        height: 260px;
        width: 97%;
        margin-left: 4px;
    }
    .abgyan_video{
        height: 250px;
        width: 95%;
        margin-top: 0px;
        border-radius: 7px;
        border: none;

    }
     /* navbar-20 */
    .navbar_20{
        height: 600px;
        width: 100%;
        padding-top: 10px;
        display: block;
    }
    .nav_20_video{
        height: 250px;
        width: 96%;
        margin-top: 10px;
        margin-left: 2px;
        border: 3px solid #fff;
    }
    .abgyan_video-2{
        height: 250px;
        width: 100%;
    }
    .main_nav{
        height: 280px;
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }
    .nav_20_heading{
        height: 240px;
        width: 290px;
        color: #fff;
        text-align: left;
        margin-top: 27px;
        margin-left: 20px;
        font-family: Poppins,sans-serif;
    }
    .we_make{
        font-weight: 300;
        line-height: 30px;
        font-size: 1.25rem;
    }
    .we_have{
        margin-top: 5px;
        font-weight: 500;
        line-height: 40px;
        font-size: 27px;
    }
    .concel_student{
        font-weight: 700;
        line-height: 40px;
        font-size: 27px;
    }
    .education{
        font-weight: 500;
        font-size: 27px;
        line-height: 40px;
        font-family: Poppins,sans-serif;
    }
    .opportunity{
        font-weight: 500;
        font-size: 27px;
        line-height: 40px;
        font-family: Poppins,sans-serif;   
    }
    .foreign_country{
        font-weight: 500;
        font-size: 26px;
        line-height: 39px;
        font-family: Poppins,sans-serif;
    }
    .nav_20_buttons{
        height: 100px;
        width: 490px;
        display: block;
        margin-right: 0px;
        margin-top: 20px;
    }
    .consel_button{
        height: 25px;
        width: 130px;
        margin-left: 20px;
    }
    .contact_button{
        height: 25px;
        width: 130px;
        margin-left: 6px;
    }
                                   /* navbar_21 */
    .navbar_21{
        height: 60px;   
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
    }
    .abgyan_logo_2{
        height: 45px;
        width: 100px;
        margin-left: 0px;
    }
                                       /* navbar_22 */
    .navbar_22{
        height: 700px;
        width: 100%;
        display: block;
        background-color: rgb(12, 14, 11);
    }
     .col_1{
        font-size: 12px;
        margin-left: 10px;
        margin-top: 0%;
        padding-top: 20px;
        text-align: justify;
    }
    .main_col_2{
        height: 230px;
        width: 95%;
        margin-left: 5px;
    }  
    .col_2{
        height: 220px;
        width: 50%;
        padding-top: 0%;
        margin-top: 0%;
        margin-left: 10px;
    }
    .col_2_services{
        font-size: 12px;
    }
    .col_3{
        height: 220px;
        width: 50%;
        padding-top: 0%;
        margin-top: 0%;
        margin-left: 0px;
    }
    .col_3_studys{
       font-size: 12px;
    }
    .main_col_4{
        height: 250px;
        width: 95%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 5px;
        margin-top: 0px;
    }
    .col_4{
        height: 240px;
        width: 50%;
        padding-top: 0%;
        margin-top: 0%;
        margin-left: 10px;
        margin-bottom: 0%;
    }
    .col_4_Quick{
        font-size: 12px;
    }
    .col_5{
        height: 240px;
        width: 50%;
        font-size: 14PX;
        padding-top: 0%;
        margin-top: 0%;
    }
    .nav_22_col_5{
        font-size: 12px;
    }
}